* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  background-color: #fff;
}

.header {
  background-image: url("../images/background_header.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  display: flex;
  /* Adicionado */
  flex-direction: column;
  /* Adicionado */
  position: relative;
  /* Adicionado */
}

.nav__logo {
  position: relative;
  width: 105px;
  height: 39px;
  margin-left: 30px;
  margin-top: 30px;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__links {
  display: flex;
  list-style: none;
  gap: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-top: 30px;
  margin-right: 80px;
}

.nav__link {
  list-style-type: none;
  text-decoration: none;
  color: inherit;
}

.header__title {
  position: relative;
  max-width: 709px;
  top: 183px;
  left: 80px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: 1px;
  margin: 0;
}

.header__title-span {
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: normal;
  font-size: 58px;
  line-height: 72px;
  color: #2f80ed;
  margin: 0;
}

.header__description {
  max-width: 683px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  position: relative;
  top: 211px;
  left: 80px;
}

.header__image {
  position: absolute;
  right: 5px;
  top: 124px;
  width: 646px;
  height: 568px;
}

.header__footer {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 80px 40px;
  margin-top: auto;

  width: 100%;
}

/* Inico da secao recipes */
.recipes {
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.recipes__titles {
  display: flex;
  flex-flow: column;
  padding-left: 80px;
  padding-top: 100px;
  gap: 24px;
}

.recipes__title {
  max-width: 580px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  max-width: 438px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 215px;
}

.recipes__videos-item {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
}

.recipes__videos-caption {
  display: flex;
  justify-content: space-between;
}

.recipes__videos_caption p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

/* Secao reservation */
.reservation {
  background-image: url('/images/background_reservation.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #D9E7FF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
}

.reservation__title {
  padding-top: 100px;
  padding-bottom: 80px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}



.reservation__form {
  display: flex;
  flex-direction: column;
  max-width: 385px;
}

.reservation__form-label {
  padding-bottom: 8px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.reservation__form-field {
  border-radius: 4px;
  margin-bottom: 32px;
  height: 60px;
  padding: 15px 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.reservation__form-field::placeholder {
  color: #838383;
}

.reservation__form-botao {
  border-radius: 4px;
  opacity: 1;
  height: 60px;
  max-width: 385px;
  margin-bottom: 32px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  background-color: #2f80ed;

}

.reservation__form-botao:hover {
  opacity: 0.7;
}

.reservation__form-checkbox {
  border-radius: 2px;
}

.reservation__form-checkbox {
  display: flex;
  align-items: center;
  gap: 12px;
  padding-bottom: 120px;

}

.reservation__form-checkbox input[type="checkbox"] {
  height: 20px;
  width: 20px;
}